body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    // font-size: ;
    // 字体抗锯齿渲染
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // 浏览器在绘制文本时将着重考虑易读性，而不是渲染速度和几何精度.
    text-rendering: optimizeLegibility;
}

#app {
    height: 100%;
    text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}